/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/mouse.h>

#define APT 0
#define NUM 1
#define NAV 2
#define SYM 3
#define FUN 4

&caps_word {
    continue-list = <UNDERSCORE MINUS BSPC LSHFT RSHFT>;
};

/ {
    macros {
        // promising candidate, only problem: impossible to hold shift through
        // the activation and still have it registered as held afterwards
        macro_shiftable_sch: macro_shiftable_sch {
            label = "Macro_shiftable_sch";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <
                &macro_tap &kp Q
                &macro_release &kp RSHIFT
                &macro_tap &kp U
            >;
            tap-ms = <10>;
        };
    };
};

#define LAYER_COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
combo_##NAME { \
    timeout-ms = <20>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
};

#define COMBO(NAME, BINDINGS, KEYPOS) \
combo_##NAME { \
    timeout-ms = <20>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
};

#define SLOWCOMBO(NAME, BINDINGS, KEYPOS) \
combo_##NAME { \
    timeout-ms = <40>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
};

#define TCOMBO(NAME, BINDINGS, KEYPOS, TIMEOUT) \
combo_##NAME { \
    timeout-ms = <TIMEOUT>; \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <0>; \
};

#define COMBOS_TOP_ROW(LTPR, LTRM, LTMI, MTII, RTIM, RTMR, RTRP) \
    SLOWCOMBO(_ltpr, LTPR, 6 0) \
    COMBO(_ltrm, LTRM, 0 1) \
    COMBO(_ltmi, LTMI, 1 2) \
    SLOWCOMBO(_mtii, MTII, 2 3) \
    COMBO(_rtim, RTIM, 3 4) \
    COMBO(_rtmr, RTMR, 4 5) \
    SLOWCOMBO(_rtrp, RTRP, 5 13)

#define COMBOS_BOT_ROW(LBRM, LBMI, MBII, RBIM, RBMR) \
    COMBO(_lbrm, LBRM, 7 8) \
    COMBO(_lbmi, LBMI, 8 9) \
    SLOWCOMBO(_mbii, MBII, 9 10) \
    COMBO(_rbim, RBIM, 10 11) \
    COMBO(_rbmr, RBMR, 11 12)

//          00  01  02          03  04  05
//      06  07  08  09          10  11  12  13
//                  14  15  16  17

/ {
    combos {
        compatible = "zmk,combos";

        /* alphas */
        COMBOS_TOP_ROW(&kp W, &kp M, &kp B, &kp K, &kp V, &comsem, &dotcol)
        COMBOS_BOT_ROW(&kp F, &kp P, &kp J, &kp X, &kp Z)

        /* usually on base layer */
        COMBO(q, &kp Q, 7 9)
        COMBO(k, &kp K, 1 9)
        COMBO(j, &kp J, 4 10)
        COMBO(shiftablesch, &macro_shiftable_sch, 0 2)
        COMBO(enter, &kp ENTER, 10 12)
        COMBO(esc, &kp ESC, 2 6)
        COMBO(semi, &kp SEMICOLON, 11 17)
        COMBO(colon, &kp COLON, 13 17)
        COMBO(minus, &kp MINUS, 11 12 17)
        COMBO(slash, &kp SLASH, 10 17)
        COMBO(esc2, &kp ESC, 8 9 15)
        COMBO(tab, &kp TAB, 7 8 9)
        COMBO(sqt, &kp SQT, 12 13 17)

        /* parentheticals */
        COMBO(lt, &kp LT, 0 9)
        COMBO(lbrc, &kp LBRC, 0 7)
        COMBO(lbkt, &kp LBKT, 1 8)
        COMBO(lpar, &kp LPAR, 2 9)
        COMBO(rt, &kp GT, 5 10)
        COMBO(rpar, &kp RPAR, 3 10)
        COMBO(rbkt, &kp RBKT, 4 11)
        COMBO(rbrc, &kp RBRC, 5 12)

        /* caps */
        COMBO(caps, &caps_word, 1 4)
        COMBO(capslock, &kp CAPSLOCK, 2 3)

        /* deletion */
        COMBO(bspc, &kp BSPC, 3 5)
        SLOWCOMBO(del, &kp DEL, 4 13)
        COMBO(delword, &kp LC(BSPC), 3 13)

        /* numbers */
        LAYER_COMBO(R7, &kp N7, 10 11, 1)
        LAYER_COMBO(R8, &kp N8, 3 4, 1)
        LAYER_COMBO(R9, &kp N9, 11 12, 1)
        LAYER_COMBO(R0, &kp N0, 4 5, 1)
        LAYER_COMBO(Rplus, &kp PLUS, 4 10, 1)

        /* fun */ 
        LAYER_COMBO(R7, &kp F7, 10 11, 4)
        LAYER_COMBO(R8, &kp F8, 3 4, 4)
        LAYER_COMBO(R9, &kp F9, 11 12, 4)
        LAYER_COMBO(R0, &kp F10, 4 5, 4)
    };
};

//          00  01  02          03  04  05
//      06  07  08  09          10  11  12  13
//                  14  15  16  17

/ {
    behaviors {
        hl: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods left";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <150>;
            quick-tap-ms = <100>;
            bindings = <&kp &kp>;
            hold-trigger-key-positions = <3 4 5 10 11 12 13 16 17>;
        };

        hr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods right";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <150>;
            quick-tap-ms = <100>;
            bindings = <&kp &kp>;
            hold-trigger-key-positions = <0 1 2 6 7 8 9 14 15>;
        };

        my_lt: my_layer_taps {
            compatible = "zmk,behavior-hold-tap";
            label = "my layer taps";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <160>;
            quick-tap-ms = <100>;
            bindings = <&mo &kp>, <&kp>;
        };

        dotcol: dot_colon {
            compatible = "zmk,behavior-mod-morph";
            label = "DOT_COL";
            #binding-cells = <0>;
            bindings = <&kp DOT &kp COLON>;
            mods = <(MOD_LSFT | MOD_RSFT)>;
        };

        comsem: comma_semicolon {
            compatible = "zmk,behavior-mod-morph";
            label = "COM_SEM";
            #binding-cells = <0>;
            bindings = <&kp COMMA &kp SEMI>;
            mods = <(MOD_LSFT | MOD_RSFT)>;
        };
    };
};
/ {
  conditional_layers {
      compatible = "zmk,conditional-layers";
  
      fun {
          if-layers = <2 3>;
          then-layer = <4>;
      };
  };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        aptmak {
            label = "APT";

            bindings = <
                &hl LALT S     &hl LGUI T     &hl LSHFT H      &hr RSHFT N    &hr RGUI A     &hr LALT I
                &hl LCTRL R    &kp C          &kp G            &my_lt NUM D          &kp L          &kp U          &kp Y          &hr RCTRL O
                                &my_lt NAV SPACE  &my_lt NAV SPACE  &my_lt SYM E  &my_lt SYM E
            >;
        };

        numbers {
            label = "NUM";

            bindings = <
                &hl LALT MINUS &hl LGUI STAR  &hl LSHFT SLASH  &kp N4         &kp N5         &kp N6
                &hl LCTRL PLUS &trans         &trans          &kp N7         &kp N1         &kp N2         &kp N3         &dotcol
                                &trans         &trans           &trans         &trans
            >;
        };

        navigation {
            label = "NAV";

            bindings = <
                &sk LALT       &sk LGUI       &sk LSHFT        &kp LEFT       &kp DOWN       &kp UP
                &sk LCTRL      &kp C_VOL_UP   &kp PG_UP        &kp C_VOL_DN   &kp HOME       &kp PG_DN      &kp END        &kp RIGHT
                                &trans         &trans           &trans       &trans
            >;
        };

        symbols {
            label = "SYM";

            bindings = <
                &kp AT         &kp HASH       &kp DOLLAR       &kp AMPERSAND  &kp ASTERISK   &kp PERCENT
                &kp EXCL       &kp GRAVE      &kp DQT          &kp UNDERSCORE &kp BACKSLASH  &kp PIPE       &kp EQUAL      &kp CARET
                                &kp TILDE      &trans           &trans         &trans
            >;
        };

        function {
            label = "FUN";

            bindings = <
                          &trans         &kp F12          &kp F11        &kp F4         &kp F5         &kp F6
                &bt BT_SEL 1    &bt BT_SEL 2         &trans           &trans         &kp F1         &kp F2         &kp F3         &bt BT_CLR_ALL
                                &trans         &trans           &trans         &trans
            >;
        };
    };
};

